# Swap files
*.swp
*.DS_*

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.json

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb
*.log

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
eval_tests_2/*.c
eval_tests_2/*
eval_tests_2/
eval_tests_2/bugit
eval_tests_2/includes/ft_printf.h
eval_tests_2/includes/get_next_line.h
eval_tests_2/includes/libft.h
eval_tests_2/includes/test.h
eval_tests_2/main.c
eval_tests_2/Makefile
eval_tests_2/Makefile_old
eval_tests_2/mybasictests copy.txt
eval_tests_2/mybasictests2
eval_tests_2/mypft
eval_tests_2/mytestfile.c
eval_tests_2/scripts/compare.sh
eval_tests_2/src/basic.c
eval_tests_2/src/flags.c
eval_tests_2/src/length_mods.c
eval_tests_2/src/main.c
eval_tests_2/src/more_combos.c
eval_tests_2/src/precision.c
eval_tests_2/src/util/file_manager.c
eval_tests_2/src/util/out_controller.c
eval_tests_2/src/util/print_titles.c
eval_tests_2/src/util/print_wrappers.c
eval_tests_2/src/util/test_specs.c
eval_tests_2/src/widths.c
eval_tests_2/src/wildcards.c
